 
{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm p-4 mt-5">
            <h3 class="mb-4 text-center">Register</h3>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.confirm_password.label(class="form-label") }}
                    {{ form.confirm_password(class="form-control") }}
                </div>
                <button type="submit" class="btn btn-success w-100">{{ form.submit() }}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
